{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">To-Do App</h1>
        <p class="lead">Just another to-do app.</p>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Items</h2>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Status</th>
                    <th scope="col">Update status</th>
                </tr>
                </thead>

                <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ item.title }}</td>
                        <td>{{ item.status }}</td>
                        <td>
                            <form method="post" action="/update_status">
                                <input type="hidden" name="item_id" value="{{ item.id }}"/>

                                {% if item.status == 'Done' %}
                                    <button type="submit" name="status" value="to_do" class="btn btn-secondary">
                                        Mark as to do
                                    </button>
                                {% else %}
                                    <button type="submit" name="status" value="done" class="btn btn-secondary">
                                        Mark as done
                                    </button>
                                {% endif %}
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Add item</h2>

            <form method="post" action="/add">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" id="title" name="title" class="form-control" placeholder="Enter title"/>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}
